<div class="animated-background">
  <div class="container text-center mt-5">
    <img src="../../../assets/img/avatar-gab.svg" alt="My Happy SVG" />
    <br />
    <br />
  </div>
  <div class="container text-center centrado">
    <section>
      <div class="letter">U</div>
      <div class="letter">n</div>
      <div class="letter">d</div>
      <div class="letter">e</div>
      <div class="letter">r</div>
      <div class="letter">&nbsp;</div>
      <div class="letter">C</div>
      <div class="letter">o</div>
      <div class="letter">n</div>
      <div class="letter">s</div>
      <div class="letter">t</div>
      <div class="letter">r</div>
      <div class="letter">u</div>
      <div class="letter">c</div>
      <div class="letter">t</div>
      <div class="letter">i</div>
      <div class="letter">o</div>
      <div class="letter">n</div>
    </section>
  </div>
</div>
