<!-- <nav aria-label="menu">
  <a class="button" routerLink="/">Home</a> |
  <a class="button" routerLink="/graphic-design">graphic design</a> |
  <a class="button" routerLink="/web-design">web design</a> |
  <a class="button" routerLink="/animation">animation</a> |
  <a class="button" routerLink="/video-production">video production</a> |
  <a class="button" routerLink="/user-experience-design"
    >User Experience design</a
  >

  |
  <a class="button" routerLink="/interaction-design">Interaction design</a> |
  <a class="button" routerLink="/gsap-examples">gsap examples</a>
</nav> -->
