<ul class="nav flex-column">
  <li class="nav-item home cb1">
    <a routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/graphic-design">graphic design</a>
  </li>
  <li class="nav-item">
    <a routerLink="/web-design">web design</a>
  </li>
  <li class="nav-item">
    <a routerLink="/animation">animation</a>
  </li>
  <li class="nav-item">
    <a routerLink="/video-production">video production</a>
  </li>
  <li class="nav-item">
    <a routerLink="/user-experience-design">User Experience design</a>
  </li>
  <li class="nav-item">
    <a routerLink="/interaction-design">Interaction design</a>
  </li>
  <li class="nav-item">
    <a routerLink="/gsap-examples">gsap examples</a>
  </li>
  <li class="nav-item">
    <a routerLink="/sand-box">Sand Box</a>
  </li>
</ul>
