//////////////////////////////////
////////////ASIDE/////////////////
////////////////////////////////
aside {
  width: 0;
  overflow: auto;
  position: fixed;
  transition: all 0.2s;
  background-color: $background-aside;
  font-family: SourceSansPro, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  margin-bottom: rem-calc(-10);
}

aside.expanding {
  width: rem-calc(229);
  min-width: rem-calc(229);
  z-index: 1;
  height: calc(100vh - 10rem) !important;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 228px);
  // width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .1s;
}

.ui-dialog {
  overflow: scroll;
  max-height: 100%;
}

//MEDIA
@include respond-above(md) {
  aside.notexpanding {
    width: rem-calc(228);
    min-width: rem-calc(228);
  }

  .overlay {
    background: transparent;
    transition: all .1s;
    z-index: 1;
    width: 0;
    height: 0;
  }

  aside.expanding {
    height: calc(100vh - 5.8rem) !important;
  }
}

@include respond-between(xs, md) {
  aside.expanding {
    height: calc(100vh - 11rem) !important;
  }
}


@include respond-below(xs) {
  aside.expanding {
    width: 100%;
    min-width: 100%;
    z-index: 1;
  }

  .overlay {
    display: none;
  }
}

main {
  background: $background-white;
  min-height: calc(100vh - 6.25rem);
  overflow: auto;
  box-shadow: inset 0 0 0.4375rem #999 !important;
}

@include respond-above(md) {
  main#content {
    width: calc(100% - 229px);
    right: 0;
    position: absolute
  }
}
