//////////////////////////////////
////////////FOOTER//////////////
////////////////////////////////

.c-footer {
  font-family: SourceSansPro, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: rem-calc(13);
  padding: rem-calc(15 30);
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $background-white;
  border-top: thin solid rgba(0, 0, 0, 0.1);
  color: $color-footer;
  z-index: 1099 !important;

  .p-button.p-button-link:enabled {
    color: $color-footer;
    font-family: SourceSansPro, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    padding: rem-calc(5);
    font-size: rem-calc(13);
  }

  .p-button.p-button-link:enabled:focus {
    outline: $focus;
    outline-offset: $f-style;
  }
}

//MEDIA

@include respond-above(md) {
  .c-footer {
    width: calc(100% - 229px);
    right: 0;
  }
}

@include respond-below(md) {
  footer {
    text-align: center;
  }
}

//////////////////////////////////
