.containerCircle {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ball {
  position: absolute;
  top: 2%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  // border: 1px solid blue;
  background-image: url("../../assets/img/bee-small.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
