// @import "../tools/tools";

// .svg-shape {
//   @extend .svg;
//   background-image: url("../../assets/img/square-graphic-design.svg");
// }

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.squareB {
  width: 100px;
  height: 100px;
  background-color: green;
}

.squareC {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 300px;
  height: 300px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 1 / 3 / 2;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}

.grid-container div {
  background-color: blue;
}

.controls {
  margin-top: 0px;
}

.time-controls {
  margin-top: 25px;
}
