
/////////////////////////////////////////////////////
///////////////////app-side-menu////////////////////
///////////////////////////////////////////////////

aside {
  width: rem-calc(200);
  min-width: rem-calc(200);
}

.vertical-menu {
  display: flex;
  flex-direction: column;
}
