//////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////app-side-menu////////////////////
///////////////////////////////////////////////////
//////////////////////////////////////////////////

nav {
  float: left;
}

// /////////////////////////////////
// //Icons - pi-chevron-down LVL1 //
// ////////////////////////////////
// .p-panelmenu .p-panelmenu-header>a .p-panelmenu-icon {
//   margin-right: rem-calc(8) !important;
//   margin-left: rem-calc(-20) !important;
//   position: relative !important;
//   right: -103% !important;
//   font-size: rem-calc(12) !important;
//   font-weight: 700 !important;
// }

// //////////////////////////////////
// //Icons - pi-chevron-down LVL2 //
// ////////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-panelmenu-icon {
//   margin-right: rem-calc(8) !important;
//   margin-left: rem-calc(-30px) !important;
//   position: relative !important;
//   right: -90% !important;
// }

// ///////////////////////////////////////////////////
// //Submenus - no padding top - no padding bottom //
// /////////////////////////////////////////////////
// .p-panelmenu .p-panelmenu-content {
//   padding: 0 !important;
//   margin-left: rem-calc(-1) !important;
// }

// ////////////////////////////////////
// //LVL 2 submenu padding - li item//
// //////////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
//   padding-left: rem-calc(0) !important;
// }

// /////////////////////////////////////
// //LVL 2 submenu margin icon before//
// ///////////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-panelmenu-icon:before {
//   margin-left: rem-calc(30);
// }

// /////////////////////////////////
// //LVL 2 submenu padding - text//
// ///////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
//   padding-left: rem-calc(30) !important;
// }

// //////////////////////////////////////////
// //LVL 3 submenu padding-left - li items//
// ////////////////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
//   padding-left: 0 !important;
// }

// ///////////////////////////////////////
// //LVL 3 submenu padding - li a items//
// /////////////////////////////////////
// .p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) a {
//   padding-left: rem-calc(10) !important;
// }

// //////////////////
// //FOCUS STATES //
// ////////////////

// //LVL 1//
// .p-panelmenu .p-panelmenu-header>a:focus {
//   outline: $focus !important;
//   outline-offset: $f-style !important;
//   box-shadow: none !important;
// }

// //LVL 2 | LVL 3 //
// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
//   outline: $focus !important;
//   outline-offset: $f-style !important;
//   box-shadow: none !important;
// }

// //////////////////
// //ACTIVE ITEMS //
// ////////////////

// //Active class style //
// .p-menuitem-link-active {
//   margin-left: rem-calc(6) !important;
//   font-weight: 700 !important;
// }

// //Active: left border style LVL1 p-highlight
// .p-panelmenu .p-panelmenu-header.p-highlight {
//   background: $nav-background-gradient !important;
// }

// //Active: left border style LVL1 not-p-highlight
// .p-panelmenu .p-panelmenu-header {
//   background: $nav-background-gradient !important;
// }

// //Active: left border style LVL2 list
// .p-panelmenu .p-submenu-list {
//   background: $nav-background-gradient-lvl-2 !important;
// }

// //Active: left border style LVL3 list
// .p-panelmenu .p-submenu-list ul {
//   background: $nav-background-gradient-lvl-3 !important;
// }

// //Active: left border style LVL3 item
// .p-panelmenu .p-submenu-list a {
//   background: white !important;
//   border-top: rem-calc(1) solid $sidememu-item !important;
// }

// //////////////////////
// //ACTIVE ITEMS ENDS//
// ////////////////////
