// @import "../tools/tools";

// .svg-shape {
//   @extend .svg;
//   background-image: url("../../assets/img/square-graphic-design.svg");
// }

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
}
