.top-menu {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: rem-calc(120);
    font-family: "Playfair Display", serif;
  }
}

.color-menu {
  background: transparent;
  display: flex;
  justify-content: center;
}

.multimedia {
  margin-top: -24px;
}

.boxD {
  width: 50px;
  height: 20px;
  background: rgb(185, 44, 157);
  margin: rem-calc(2);
}
