// .top-nav .p-button {
//   background: transparent !important;
//   border: none !important;
//   color: $primary-background-color !important;
// }

// .top-nav .p-button:hover {
//   background: $primary-background-color !important;
//   border: none !important;
//   color: $c-white !important;
// }

.top-menu {
  background: transparent;
  display: flex;
  p {
    font-size: rem-calc(120);
    font-family: "Playfair Display", serif;
  }
}

.multimedia {
  margin-top: -24px;
}
