.top-nav .p-button {
  background: transparent !important;
  border: none !important;
  color: $primary-background-color !important;
}


.top-nav .p-button:hover {
  background: $primary-background-color !important;
  border: none !important;
  color: $c-white !important;
}
