// //////////////////////////////////
// ////////////WRAPPER//////////////
// ////////////////////////////////

.c-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

//media
// @include respond-below(md) {
//   .c-wrapper {
//     margin-top: rem-calc(108);
//   }
// }
