.p-card .p-card-content {
  padding: 0 0 !important;
}

.p-card .p-card-body {
  padding: 1rem !important;
}

.p-card .p-card-footer {
  padding: 0 !important;
  margin-top: 0 !important;
}
