<div class="container neon-svg cb1">
  <div class="svg-video-production cb3"></div>
  <div class="text-end">
    <p>"Crafting Captivating Stories: The Art of Video Production"</p>
    <p>
      Video production encompasses the process of planning, filming, and editing
      videos. Skilled producers engage in diverse projects, including marketing
      campaigns, corporate videos, documentaries, and short films. Meticulously
      handle pre-production duties like scriptwriting, storyboarding, casting,
      and production tasks such as filming, lighting, and sound recording.
    </p>
  </div>
</div>
