.cb1 {
  border: 1px solid red;
}
.cb2 {
  border: 1px solid green;
}
.cb3 {
  border: 1px solid blue;
}

/*======================================================================
========================================================================
========================================================================*/
/*** The new CSS Reset - version 1.4.2 (last updated 30.11.2021) ***/
/*======================================================================
========================================================================
========================================================================*/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/*  Remove list styles on ul, ol elements with a class attribute*/
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  color: #015b8f;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*======================================================================
=====================The new CSS Reset ENDS=============================
========================================================================*/

////////////////////////////////////////////////////////////
////////////////// Accesibility ////////////////////////////
//////////////////////////////////////////////////////////
.sr-only {
  position: absolute;
  width: rem-calc(1);
  height: rem-calc(1);
  padding: 0;
  margin: rem-calc(-1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.skiplink {
  background: transparent;
  color: #212121;
  left: 0;
  padding: rem-calc(16 24);
  position: absolute;
  top: -rem-calc(-72);
  transition: all 0.2s ease-in-out;
  z-index: 1040 !important;
  text-decoration: underline !important;
}

.skiplink:focus {
  background: #ffffff;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

/* Styles where only focus is supported */
input:focus,
button:focus,
a[href]:focus {
  outline: #7fb7ff dotted rem-calc(3);
  outline-offset: rem-calc(2);
}

/* Reset styles where focus-visible is supported (we'll add them back
 * in the next block)
*/
input:focus,
button:focus:not(:focus-visible),
a[href]:focus:not(:focus-visible) {
  outline: none;
}

/* The final, focus-visible styles. You could elect to make this even more
 * obvious, if stakeholders or whomever is pushing against focus styles this
 * week are now off your back.
*/
input:focus,
button:focus-visible,
a[href]:focus-visible {
  outline: #7fb7ff dotted rem-calc(3);
  outline-offset: rem-calc(2);
}

////////////////////////////////////////////////////////////
////////////////// GENERAL CLASES /////////////////////////
//////////////////////////////////////////////////////////

html,
body {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  min-height: 100vh;
  overflow: auto !important;
}
