<div class="container neon-svg cb1">
  <div class="svg-animation cb3"></div>
  <div class="text-end">
    <p>"From Still to Alive: The Magic of Animation"</p>
    <p>
      Animation breathes life into images and characters. Animators craft
      sequential frames to animate static objects. They design, model, rig, and
      animate characters, objects, and environments. Animators work in films,
      TV, advertising, gaming, and e-learning to create captivating and
      immersive experiences
    </p>
  </div>
</div>
