<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-10 top-menu cb1">
        <p class="me-4">Life is</p>
        <p class="multimedia">M</p>
        <p class="multimedia">u</p>
        <p class="multimedia">l</p>
        <p class="multimedia">t</p>
        <p class="multimedia">i</p>
        <p class="multimedia">m</p>
        <p class="multimedia">e</p>
        <p class="multimedia">d</p>
        <p class="multimedia">i</p>
        <p class="multimedia">a</p>
      </div>
      <div class="col-2 top-menu cb1">
        <ul>
          <button
            type="button"
            (click)="setStagger('center')"
            class="btn m-1 btn-primary"
          >
            Center
          </button>
          <button
            type="button"
            (click)="setStagger('end')"
            class="btn m-1 btn-secondary"
          >
            End
          </button>
          <button
            type="button"
            (click)="setStagger('edges')"
            class="btn m-1 btn-success"
          >
            Edges
          </button>
          <button
            type="button"
            (click)="setStagger('random')"
            class="btn m-1 btn-danger"
          >
            Random
          </button>
          <button
            type="button"
            (click)="setStagger('x')"
            class="btn m-1 btn-warning"
          >
            Axis X
          </button>
          <button
            type="button"
            (click)="setStagger('y')"
            class="btn m-1 btn-info"
          >
            Axis Y
          </button>
        </ul>
      </div>
    </div>
  </div>
</div>
