<div class="container">
  <div class="row">
    <div class="col-12 color-menu cb1">
      <div class="container text-end">
        <button type="button" class="btn m-1 btn-light">Light</button>
        <button type="button" class="btn m-1 btn-dark">Dark</button>
      </div>
    </div>
    <div class="col-12 top-menu cb1">
      <div class="container text-center mt-5">
        <img
          src="../../../assets/img/avatar-gab.svg"
          alt="https://www.linkedin.com/in/gabrielgarciadiaz/"
        />
      </div>
    </div>
    <div class="col-12 top-menu text-center cb1">
      <p class="multimedia">U</p>
      <p class="multimedia">n</p>
      <p class="multimedia">d</p>
      <p class="multimedia">e</p>
      <p class="multimedia">r</p>
      <p class="multimedia">&nbsp;</p>
      <p class="multimedia">C</p>
      <p class="multimedia">o</p>
      <p class="multimedia">n</p>
      <p class="multimedia">s</p>
      <p class="multimedia">t</p>
      <p class="multimedia">u</p>
      <p class="multimedia">c</p>
      <p class="multimedia">t</p>
      <p class="multimedia">i</p>
      <p class="multimedia">o</p>
      <p class="multimedia">n</p>
    </div>
    <div class="col-12 boxD-menu cb2">
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
      <p class="boxD"></p>
    </div>
    <div class="col-12 top-menu mt-5 pt-5 cb1">
      <ul>
        <button
          type="button"
          (click)="setStagger('start')"
          class="btn m-1 btn-dark"
        >
          Start
        </button>
        <button
          type="button"
          (click)="setStagger('y')"
          class="btn m-1 btn-info"
        >
          Axis Y
        </button>
        <button
          type="button"
          (click)="setStagger('edges')"
          class="btn m-1 btn-success"
        >
          Edges
        </button>
        <button
          type="button"
          (click)="setStagger('center')"
          class="btn m-1 btn-primary"
        >
          Center
        </button>
        <button
          type="button"
          (click)="setStagger('random')"
          class="btn m-1 btn-danger"
        >
          Random
        </button>
        <button
          type="button"
          (click)="setStagger('x')"
          class="btn m-1 btn-warning"
        >
          Axis X
        </button>

        <button
          type="button"
          (click)="setStagger('end')"
          class="btn m-1 btn-secondary"
        >
          End
        </button>
      </ul>
    </div>
  </div>
</div>
