/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Playfair Display", serif, Helvetica, Arial, Verdana, Tahoma;
  font-weight: 700;
}

h1 {
  font-size: rem-calc(24);
}

h2 {
  font-size: rem-calc(22);
}

h3 {
  font-size: rem-calc(18);
}

h4 {
  font-size: rem-calc(16);
}

h5 {
  font-size: rem-calc(12);
}

h6 {
  font-size: rem-calc(10);
}

//MEDIA
@include respond-below(sm) {
  h1 {
    font-size: rem-calc(20);
  }

  h2 {
    font-size: rem-calc(18);
  }

  h3 {
    font-size: rem-calc(14);
  }

  h4 {
    font-size: rem-calc(12);
  }

  h5 {
    font-size: rem-calc(8);
  }

  h6 {
    font-size: rem-calc(4);
  }
}

//////////////////////////////////
////////////scrollbar//////////////
////////////////////////////////

/* width */
::-webkit-scrollbar {
  width: rem-calc(5);
}

/* Track */
::-webkit-scrollbar-track {
  background: $webkit-scrollbar-track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $webkit-scrollbar-thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $webkit-scrollbar-thumb-hover;
}
