.box {
  width: 50px;
  height: 50px;
  background: rgb(105, 105, 245);
  float: left;
  margin: 2px;

  &_box0 {
    background: pink;
  }
}

.boxA {
  width: 50px;
  height: 50px;
  background: rgb(44, 185, 72);
  float: left;
  margin: 2px;
}

.boxB {
  width: 50px;
  height: 50px;
  background: rgb(185, 44, 157);
  float: left;
  margin: 2px;
}

.boxC {
  width: 50px;
  height: 50px;
  background: rgb(101, 20, 187);
  float: left;
  margin: 2px;
}
