<div class="mt-4 p-2 bg-primary text-white rounded">
  <p>gsap-examples works!</p>
</div>

<hr />

<div class="col row">
  <p>simple tween animation | gsap.to / gsap.from / gsap.fromTo</p>
  <p>Set to an object any property| gsap.set</p>
  <section>
    <div class="box box0 box_box0"></div>
    <div class="box box1"></div>
    <div class="box box2"></div>
    <div class="box box3"></div>
    <div class="box box4"></div>
    <div class="box box5"></div>
  </section>
</div>

<hr class="mt-5" />

<div class="col row">
  <p>Staggers animation options | amount / each</p>
  <section>
    <div class="boxA"></div>
    <div class="boxA"></div>
    <div class="boxA"></div>
    <div class="boxA"></div>
    <div class="boxA"></div>
    <div class="boxA"></div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <section>
    <div class="boxB"></div>
    <div class="boxB"></div>
    <div class="boxB"></div>
    <div class="boxB"></div>
    <div class="boxB"></div>
    <div class="boxB"></div>
  </section>

  <section>
    <p>
      <span class="letter">U</span>
      <span class="letter">n</span>
      <span class="letter">d</span>
      <span class="letter">e</span>
      <span class="letter">r</span>
      <span class="letter">&nbsp;</span>
      <span class="letter">C</span>
      <span class="letter">o</span>
      <span class="letter">n</span>
      <span class="letter">s</span>
      <span class="letter">t</span>
      <span class="letter">r</span>
      <span class="letter">u</span>
      <span class="letter">c</span>
      <span class="letter">t</span>
      <span class="letter">i</span>
      <span class="letter">o</span>
      <span class="letter">n</span>
    </p>
  </section>
</div>

<hr class="mt-5" />

<div class="col row">
  <p>Time line animation | defaults /</p>

  <section>
    <div class="boxC boxC1"></div>
    <div class="boxC boxC2"></div>
    <div class="boxC boxC3"></div>
  </section>
</div>
