<header class="fixed-top no-print">
  <!-- <a (click)="scroll(content)" class="skip-to-content pl-2 pr-2">Skip to main content</a> -->
  <nav>
    <!-- <app-topmenu></app-topmenu> -->
  </nav>
  <div class="c-nav-menu u-none-p u-zindex menu">
    <button pButton type="button" class="p-button-link">
      <!-- (click)="toggleSideBar()" -->
      <span class="sr-only">Side Menu Open/close</span>
      <span class="font-white noBorder">
        <!-- [ngClass]="isExpanding ? 'pi pi-times': 'pi pi-bars'" -->
      </span>
    </button>
  </div>
</header>
<section class="c-wrapper">
  <aside class="u-none-p no-print">
    <!-- [ngClass]="isExpanding ? 'expanding': 'notexpanding'" -->
    <section class="aside">
      <app-side-menu class="mt-5"></app-side-menu>
    </section>
  </aside>
  <main #content id="content" class="col p-4 pb-5">
    <router-outlet>
      <div class="no-print">
        <!-- [ngClass]="isExpanding ? 'overlay': ''" -->
      </div>
    </router-outlet>
    <br />
    <br />
  </main>
  <!-- <app-footer class="c-footer u-none-p no-print"></app-footer> -->
</section>
