<header class="no-print cb1">
  <!-- <a (click)="scroll(content)" class="skip-to-content pl-2 pr-2">Skip to main content</a> -->
    <app-topmenu></app-topmenu>
    <app-title></app-title>
</header>


  <div class="row align-items-md-stretch">
    <div class="col-md-2">
      <div class="h-100 p-5 text-white bg-dark">
      <section class="aside cb2">
        <aside class="u-none-p no-print">
          <app-side-menu></app-side-menu>
        </aside>
      </section>
      </div>
    </div>
    <div class="col-md-10">
      <div class="h-100 p-5 bg-light border">
        <section class="c-wrapper cb3">
          <main #content id="content" class="">
            <router-outlet>
              <app-mouse-follower></app-mouse-follower>
            </router-outlet>
          </main>
          <!-- <app-footer class="c-footer u-none-p no-print"></app-footer> -->
        </section>
      </div>
    </div>
  </div>


<!-- <section class="aside cb2">
  <aside class="u-none-p no-print">
    <app-side-menu></app-side-menu>
  </aside>
</section>

<section class="c-wrapper cb3">
  <main #content id="content" class="">
    <router-outlet>
      <app-mouse-follower></app-mouse-follower>
    </router-outlet>
  </main>
  <app-footer class="c-footer u-none-p no-print"></app-footer>
</section> -->
