<div class="container neon-svg cb1">
  <div class="svg-interactive-design cb3"></div>
  <div class="text-end">
    <p>
      "Empowering Engaging Digital Experiences: The Art of Interaction Design"
    </p>
    <p>
      Interaction design (IxDF) focuses on creating engaging interfaces for
      digital platforms. Designers craft meaningful interactions between users
      and systems, considering user behaviour, psychology, and interface
      functionality. IxDF designs intuitive user interfaces (UIs) for websites,
      mobile apps, and software applications.
    </p>
  </div>
</div>
