<div class="p-2 mb-4 bg-light">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>

        <!-- scramble-text-animation.component.html -->
    <!-- <div class="text-container">
        <span class="text">{{ animatedText }}</span>
    </div>
       
        -->

<div class="top-menu cb1">
    <p class="multimedia">U</p>
    <p class="multimedia">n</p>
    <p class="multimedia">d</p>
    <p class="multimedia">e</p>
    <p class="multimedia">r</p>
    <p class="multimedia">&nbsp;</p>
    <p class="multimedia">C</p>
    <p class="multimedia">o</p>
    <p class="multimedia">n</p>
    <p class="multimedia">s</p>
    <p class="multimedia">t</p>
    <p class="multimedia">u</p>
    <p class="multimedia">c</p>
    <p class="multimedia">t</p>
    <p class="multimedia">i</p>
    <p class="multimedia">o</p>
    <p class="multimedia">n</p>
</div>

        <!-- <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in
            previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
            liking.</p> -->
        <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
</div>
