@import "../tools/tools";

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CherryBombOne";
  src: local("CherryBombOne"),
    url("../../assets/fonts/CherryBombOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2"),
    url("../../assets/fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PFD";
  src: local("PFD"),
    url("../../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sacramento";
  src: local("Sacramento"),
    url("../../assets/fonts/Sacramento-Regular.ttf") format("truetype");
}

// font-family: 'Cherry Bomb One', cursive;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Sacramento', cursive;

/*========================
=========COLORS===========
==========================*/

/*background colors*/
// $headers-background: #0D3C61;


//nav

/*fonts*/

/*background colors*/

//sidemenu


//backgrounds


//BOX_SHADOW

//FOCUS
$focus: #7fb7ff dotted rem-calc(3);
$f-style: rem-calc(-3);

//topmenu

//Footer


//scrollbar
$webkit-scrollbar-track: #f1f1f1;
$webkit-scrollbar-thumb: #aaa;
$webkit-scrollbar-thumb-hover: #555;

//PANEL


//Borders


//BOTONES

//secondary buttons


