<div class="container neon-svg cb1">
  <div class="svg-graphic-design cb3"></div>
  <div class="text-end">
    <p>"Enhancing Branding and Advertising: The Artistry of Graphic Design"</p>
    <p>
      Graphic design involves crafting visually compelling content. Designers
      employ creative expertise and design principles to develop and transmit
      messages. Their projects span brand development, advertising, print media,
      and digital graphics. Designers contribute to the visual identity and
      aesthetic appeal of companies and products.
    </p>
  </div>
</div>
