<section class="container neon-svg cb1">
  <input class="countUp" />
  <!-- <p>{{ counter }}</p> -->

  <div class="grid-container">
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="div7"></div>
    <div class="div8"></div>
    <div class="div9"></div>
  </div>

  <div class="controls">
    <button class="play">Play</button>
    <button class="pause">Pause</button>
    <button class="restart">Restart</button>
    <button class="reverse">Reverse</button>
  </div>
  <!-- 
  <div #boxElement class="box square cb1"></div>
  <br />
  <div #squareElement class="box squareB cb2"></div>
  <br />
  <div #squareElement class="box squareC cb3"></div> -->
  <!-- <div id="stats"></div> -->

  <!-- <div class="text-end">
    <p>"Crafting Captivating Stories: The Art of Video Production"</p>
    <p>
      Video production encompasses the process of planning, filming, and editing
      videos. Skilled producers engage in diverse projects, including marketing
      campaigns, corporate videos, documentaries, and short films. Meticulously
      handle pre-production duties like scriptwriting, storyboarding, casting,
      and production tasks such as filming, lighting, and sound recording.
    </p>
  </div> -->
</section>
