<section class="container neon-svg cb1">
  <input class="countUp" type="number" value="[0]" />

  <!-- <div #squareElement class="box square cb1"></div> -->
  <!-- <div #squareElement class="box squareB cb2"></div>
  <div #squareElement class="box squareC cb3"></div> -->
  <!-- <div id="stats"></div> -->

  <!-- <div class="text-end">
    <p>"Crafting Captivating Stories: The Art of Video Production"</p>
    <p>
      Video production encompasses the process of planning, filming, and editing
      videos. Skilled producers engage in diverse projects, including marketing
      campaigns, corporate videos, documentaries, and short films. Meticulously
      handle pre-production duties like scriptwriting, storyboarding, casting,
      and production tasks such as filming, lighting, and sound recording.
    </p>
  </div> -->
</section>
