<section class="container neon-svg cb1">
  <input class="countUp" />
  <!-- <p>{{ counter }}</p> -->

  <div class="grid-container">
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="div7"></div>
    <div class="div8"></div>
    <div class="div9"></div>
  </div>

  <div class="controls">
    <button class="play">Play</button>
    <button class="pause">Pause</button>
    <button class="restart">Restart</button>
    <button class="reverse">Reverse</button>
  </div>

  <div class="time-controls">
    <input class="timestamp" />
    <input class="scroller" type="range" min="0" max="100" step="1" value="0" />
  </div>

  <div class="morphing-demo">
    <svg width="140" height="140" viewBox="0 0 140 140">
      <g fill="none" fill-rule="evenodd">
        <g fill="currentColor" fill-opacity=".15" transform="translate(0 6)">
          <polygon
            points="70 0 136.574 48.369 111.145 126.631 28.855 126.631 3.426 48.369"
          ></polygon>
          <polygon
            points="70 18 119.455 53.931 100.565 112.069 39.435 112.069 20.545 53.931"
          ></polygon>
          <polygon
            points="70 34.86 101.727 57.911 89.609 95.209 50.391 95.209 38.273 57.911"
          ></polygon>
          <polygon
            points="70 50.898 84.864 61.697 79.186 79.171 60.814 79.171 55.136 61.697"
          ></polygon>
        </g>
        <polygon
          class="polymorph"
          stroke-width="1"
          stroke="currentColor"
          points="70 54.40212709478409 135.70804236492805 54.67463210649599 89.70532552857597 101.49695763507196 29.41532552857598 131.86691973376003 39.291957635071974 64.572754737664 "
        ></polygon>
      </g>
    </svg>
  </div>

  <div #boxElement class="box square cb1"></div>
  <br />
  <div #squareElement class="box squareB cb2"></div>
  <br />
  <div #squareElement class="box squareC cb3"></div>
  <!-- <div id="stats"></div> -->

  <!-- <div class="text-end">
    <p>"Crafting Captivating Stories: The Art of Video Production"</p>
    <p>
      Video production encompasses the process of planning, filming, and editing
      videos. Skilled producers engage in diverse projects, including marketing
      campaigns, corporate videos, documentaries, and short films. Meticulously
      handle pre-production duties like scriptwriting, storyboarding, casting,
      and production tasks such as filming, lighting, and sound recording.
    </p>
  </div> -->
</section>
